/*********************************************************/
/*--------------------BOARD BUTTONS----------------------*/
/*********************************************************/

.boardButtons {
    display: grid;
    grid-column-gap: 1%;
    margin: 1% 0;
}
