[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-chess = "*"
reportlab = "*"
argparse = "*"
flask = "*"
flask-wtf = "*"
requests = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-shell-ipython = "*"

[requires]
python_version = "3.7"
