/*********************************************************/
/*---------------------NAVIGATION------------------------*/
/*********************************************************/

nav {
    background-color: var(--color-4);
}


/*******************************************/
/*---------------MAIN MENU-----------------*/
/*******************************************/

#MainMenu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#MainMenu:hover {
    overflow: visible;
}

#HomeButton {
    width: 10% !important;
}

/* HomeButton doesn't need a padding. */
#HomeButton>.navButton {
    height: 100%;
    padding: 0;
}

/* only select menuItems which are direct child of MainMenu, so now submenu items */
#MainMenu>.menuItem {
    position: relative;
    width: calc(90%/2); /* 10% for HomeButton 90% for the other 3 */
}

/* is mainly styled by .button (css/2-base/global.css) class. */
.navButton {
    border-radius: 0;
    text-decoration: none;
    align-items: center;
    display: flex;
    /* .button defines a padding of 0.5em top and bottom, so that needs to be subtracted. */
    height: calc(100% - 1em);
    justify-content: center;
}

/* overwrite .button style */
.navButton, .navButton:active, .navButton:hover {
    border: none
}

/*******************************************/
/*---------------SUB MENU------------------*/
/*******************************************/

.submenu {
    -webkit-transition: max-height 200ms ease-in-out;
    background-color: var(--color-4);
    display: none;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* change colors of submenu */
.submenu, .submenu .navButton, .subsubmenu, .subsubmenu .navButton {
    background-color: var(--color-1);
    color: var(--color-4);
}

.submenu .navButton:hover, .subsubmenu .navButton:hover {
    background-color: var(--color-3);
    color: var(--color-0);
}

.submenu > .menuItem {
    position: relative;
}

/*******************************************/
/*-----------SUB SUB MENU------------------*/
/*******************************************/

.subsubmenu {
    position: absolute;
    width: 75%;
    left: 100%;
    top: 0;
    display: none;
}

/* #MainMenu .menuItem .menuItem:hover .subsubmenu { */
/*     display: block; */
/* } */

#MainMenu .menuItem:hover > ul {
    display: block;
}
