{% extends "layout.html" %}


{% block css_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chess_print.css') }}">
{% endblock %}


{% block js_imports %}
    <script src="{{ url_for('static', filename='js/download.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/pdfjs/pdf.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pdfjs/pdf.worker.js') }}"></script>
{% endblock %}


<!-- submenu points for "noteworthy games" is generated dynamically in routes.py. It creates a menu point -->
<!-- for every pgn found in /static/game_viewer_pgns -->
{% block game_navigation %}
    <ul class="submenu">
        {% for category in game_nav %}
        <li class="menuItem">
            <a  href="#"
                class="button navButton">{{ category[0] }}</a>
            <ul class="subsubmenu">
                {% for game in category[1] %}
                <li class="menuItem">
                    <a class="button navButton"
                       href="{{ url_for('game_viewer', id=game[1]) }}">{{ game[0] }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


<!-- is put into <main></main> -->
{% block content %}
    {% if pgn_parse_errors %}
    <div id="pgnParseErros">
        <h3>errors parsing pgn-file:</h3>
        {% for error in pgn_parse_errors %}
        <p class="errorText regularText">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div id="optionsAndPreview">
        <form id="Options" action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <div id="selectedFile" class="optionModule">
                <p class="regularText"><strong>{{ game_name }}</strong></p>
            </div>
            <div id="PrintToolButtons" class="optionModule">
                {{ form.submit(class_="button") }}
                <button type="button"
                        onClick="download('data:application/pdf;base64,{{ pdf_output }}', '{{ pdf_filename }}', 'application/pdf')">
                    save
                </button>
            </div>
            <div class="optionModule">
                <p class="regularText"><strong>Select the moves after which
                    the board should be printed.</strong></p>
                {{ form.halfmoves }}
            </div>
            <div id="ColorSelector" class="optionModule">
                <p class="regularText"><strong>Choose a dark/light color combination for the printed boards.
                    Either choose a template or give your own colors in hex-format.</strong></p>
                <div id="ColorOptions">
                    <div id="ColorTemplates">
                        {{ form.color.label(class_='regularText') }}
                        {{ form.color }}
                    </div>
                    <div id="CustomColors">
                        <div class="customColor">
                            {{ form.color_custom_light.label(class_='regularText') }}
                            {{ form.color_custom_light(size=5) }}
                            {% for error in form.color_custom_light.errors %}
                            <span class="errorText regularText">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="customColor">
                            {{ form.color_custom_dark.label(class_='regularText') }}
                            {{ form.color_custom_dark(size=5) }}
                            {% for error in form.color_custom_dark.errors %}
                            <span class="errorText regularText">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div> <!-- end CustomColors -->
                </div> <!-- end ColorOptions -->
            </div> <!-- end ColorSelector -->
            <div id="PageSettings" class="optionModule">
                <div id="page_margin" class="optionField">
                    {{ form.page_margin.label(class_='regularText') }}<br>
                    {{ form.page_margin(size=2) }}
                    {% for error in form.page_margin.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div id="page_format" class="optionField">
                    {{ form.page_format.label(class_='regularText') }}<br>
                    {{ form.page_format }}
                    {% for error in form.page_format.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div id="column_gap" class="optionField">
                    {{ form.column_gap.label(class_='regularText') }}<br>
                    {{ form.column_gap(size=2) }}
                    {% for error in form.column_gap.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div> <!-- end PageSettings -->
            <div id="FontSettings" class="optionModule">
                <div id="font_size" class="optionField">
                    {{ form.font_size.label(class_='regularText') }}<br>
                    {{ form.font_size(size=2) }}
                    {% for error in form.font_size.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div id="font_name" class="optionField">
                    {{ form.font_name.label(class_='regularText') }}<br>
                    {{ form.font_name }}
                    {% for error in form.font_name.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div> <!-- end FontSettings -->
        </form>
        <!-- <iframe id="pdf_preview" src="data:application/pdf;base64,{{ pdf_output }}" type="application/pdf"></iframe> -->
        <div id="pdf_preview">
                <div id="pdf-loader" class="regularText">Loading document ...</div>
                <div id="pdf-contents">
                        <div id="pdf-meta">
                                <div id="pdf-buttons">
                                        <button id="pdf-prev"><i class="material-icons">arrow_back</i></button>
                                        <button id="pdf-next"><i class="material-icons">arrow_forward</i></button>
                                </div>
                                <strong><div id="page-count-container">Page <div id="pdf-current-page"></div> of <div id="pdf-total-pages"></div></div></strong>
                        </div>
                        <canvas id="pdf-canvas"></canvas>
                        <div id="page-loader">Loading page ...</div>
                </div>
        </div>
        <script src="{{ url_for('static', filename='js/pdfPlugin.js') }}"></script>
        <script>
            canvas = document.getElementById('pdf-canvas');
            cs = getComputedStyle(document.getElementById('pdf_preview'));
            canvas.width = parseInt(cs.getPropertyValue('width'), 10)
            // load pdf
            showPDF("{{ pdf_output }}")

            // Previous page of the PDF
            $("#pdf-prev").on('click', function() {
                    if(__CURRENT_PAGE != 1)
                            showPage(--__CURRENT_PAGE);
            });

            // Next page of the PDF
            $("#pdf-next").on('click', function() {
                    if(__CURRENT_PAGE != __TOTAL_PAGES)
                            showPage(++__CURRENT_PAGE);
            });
        </script>
    </div>
{% endblock %}
