{% extends "layout.html" %}


{% block css_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chess_print.css') }}">
{% endblock %}


{% block js_imports %}
    <script src="{{ url_for('static', filename='js/download.js') }}"></script>
{% endblock %}


<!-- submenu points for "noteworthy games" is generated dynamically in routes.py. It creates a menu point -->
<!-- for every pgn found in /static/game_viewer_pgns -->
{% block game_navigation %}
    <ul class="submenu">
        {% for folder in game_nav %}
        <li class="menuItem">
            <a  href=""
                class="button navButton">{{ folder[0] }}</a>
            <ul class="subsubmenu">
                {% for game in folder[1] %}
                <li class="menuItem">
                    <a class="button navButton"
                       href="{{ url_for('game_viewer', folder=folder[0], game_name=game[0]) }}">{{ game[1] }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


<!-- is put into <main></main> -->
{% block content %}
    {% if pgn_parse_errors %}
    <div id="pgnParseErros">
        <h3>errors parsing pgn-file:</h3>
        {% for error in pgn_parse_errors %}
        <p class="errorText regularText">{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div id="optionsAndPreview">
        <form id="Options" action="" method="post" enctype="multipart/form-data" novalidate>
            {{ form.hidden_tag() }}
            <h3>selected file: <strong>{{ original_filename }}</strong></h3>
            <div class="optionModule">
                <p class="regularText"><strong>Select the moves after which
                    the board should be printed.</strong></p>
                {{ form.halfmoves }}
            </div>
            <div id="ColorSelector" class="optionModule">
                <p class="regularText"><strong>Choose a dark/light color combination for the printed boards.
                    Either choose a template or give your own colors in hex-format.</strong></p><br>
                <div id="ColorOptions">
                    <div id="ColorTemplates">
                        {{ form.color.label(class_='regularText') }}
                        {{ form.color }}
                    </div>
                    <div id="CustomColors">
                        <div class="customColor">
                            {{ form.color_custom_light.label(class_='regularText') }}
                            {{ form.color_custom_light(size=5) }}
                            {% for error in form.color_custom_light.errors %}
                            <span class="errorText regularText">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                        <div class="customColor">
                            {{ form.color_custom_dark.label(class_='regularText') }}
                            {{ form.color_custom_dark(size=5) }}
                            {% for error in form.color_custom_dark.errors %}
                            <span class="errorText regularText">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </div> <!-- end CustomColors -->
                </div> <!-- end ColorOptions -->
            </div> <!-- end ColorSelector -->
            <div id="PageSettings" class="optionModule">
                <div id="page_margin" class="optionField">
                    {{ form.page_margin.label(class_='regularText') }}<br>
                    {{ form.page_margin(size=2) }}
                    {% for error in form.page_margin.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div id="page_format" class="optionField">
                    {{ form.page_format.label(class_='regularText') }}<br>
                    {{ form.page_format }}
                    {% for error in form.page_format.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div id="column_gap" class="optionField">
                    {{ form.column_gap.label(class_='regularText') }}<br>
                    {{ form.column_gap(size=2) }}
                    {% for error in form.column_gap.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div> <!-- end PageSettings -->
            <div id="FontSettings" class="optionModule">
                <div id="font_size" class="optionField">
                    {{ form.font_size.label(class_='regularText') }}<br>
                    {{ form.font_size(size=2) }}
                    {% for error in form.font_size.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div id="font_name" class="optionField">
                    {{ form.font_name.label(class_='regularText') }}<br>
                    {{ form.font_name }}
                    {% for error in form.font_name.errors %}
                    <span class="errorText regularText">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div> <!-- end FontSettings -->
            <div id="PrintToolButtons" class="optionModule">
                {{ form.submit(class_="button") }}
                <a href="{{ url_for('uploader', tool_target='pdf_printer', reset=True) }}" class="button">reset</a>
                <button type="button"
                        onClick="download('data:application/pdf;base64,{{ pdf_output }}', '{{ pdf_filename }}', 'application/pdf')">
                    save
                </button>
            </div>
        </form>
        <iframe id="pdf_preview" src="data:application/pdf;base64,{{ pdf_output }}" type="application/pdf"></iframe>
    </div>
{% endblock %}
