{% extends "layout.html" %}


{% block css_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game_viewer.css') }}">
{% endblock %}


{% block js_imports %}
    <script src="{{ url_for('static', filename='js/pgn4web/pgn4web.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configPieceImg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configGameViewer.js') }}"></script>
{% endblock %}


<!-- SetPgnUrl() is a function from pgn4web.js to serve pgn file for plugin -->
{% block set_pgn_url %}
    <script>SetPgnUrl("{{ game_path }}")</script>
{% endblock %}


<!-- submenu points for "noteworthy games" is generated dynamically in routes.py. It creates a menu point -->
<!-- for every pgn found in /static/game_viewer_pgns -->
{% block game_navigation %}
    <ul class="submenu">
        {% for folder in game_nav %}
        <li class="menuItem">
            <a  href=""
                class="button navButton">{{ folder[0] }}</a>
            <ul class="subsubmenu">
                {% for game in folder[1] %}
                <li class="menuItem">
                    <a class="button navButton"
                       href="{{ url_for('game_viewer', folder=folder[0], game_name=game[0]) }}">{{ game[1] }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


<!-- is put into <main></main> -->
{% block content %}
    <div id="GameInformation">
        <h2> <!-- Format: Player1 vs Player 2 (dd.mm.yyyy) -->
            <span id="GameWhite"></span> vs <span id="GameBlack"></span>
            (<span id="GameDate"></span>)
        </h2>
        <h3><span id="GameEvent"></span></h3>
        <h3 id="Variation"></h3> <!-- populated by ecoCodeToName.js -->
        <script src="js/ecoCodeToName.js"></script>
    </div> <!-- End GameInformation -->
    <div id="BoardAndButtons">
        <div id="GameBoard"></div> <!-- populated by pgn4web.js -->
        <div class="boardButtons"> <!-- clickedBtn() is function from pgn4web.js -->
            <button     type="button"
                        class="boardButton"
                        id="startButton"
                        onClick="clickedBbtn(this,event);">
                <i class="material-icons">arrow_back</i>
            </button>
            <button     type="button"
                        class="boardButton"
                        id="backButton" onClick="clickedBbtn(this,event);">
                <i class="material-icons">keyboard_arrow_left</i>
            </button>
            <button     type="button"
                        class="boardButton"
                        id="autoplayButton"
                        onClick="
                            clickedBbtn(this,event);
                            var i = document.querySelector('#autoplayButton i');
                            i.innerText = i.innerText == 'stop' ? 'play_arrow' : 'stop';">
                <i class="material-icons">play_arrow</i>
            </button>
            <button     type="button"
                        class="boardButton"
                        id="forwardButton" onClick="clickedBbtn(this,event);">
                <i class="material-icons">keyboard_arrow_right</i>
            </button>
            <button     type="button"
                        class="boardButton"
                        id="endButton"
                        onClick="clickedBbtn(this,event);">
                <i class="material-icons">arrow_forward</i>
            </button>
        </div> <!-- End boardButtons -->
    </div> <!-- End BoardAndButtons -->
    <div id="PlayerPictures">
        <figure id="Player2">
            <img        src="{{ player_image_urls['Black'] }}"
                        alt="black player image">
            <!-- <p class="imgsource">{{ player_image_urls['Black'] }}</p> -->
            <figcaption><span id="GameBlack"></span></figcaption>
        </figure>
        <figure id="Player1">
            <img        src="{{ player_image_urls['White'] }}"
                        alt="white player image">
            <!-- <p class="imgsource">{{ player_image_urls['White'] }}</p> -->
            <figcaption><span id="GameWhite"></span></figcaption>
        </figure>
    </div> <!-- End PlayerPictures -->
    <break></break> <!-- To make flexbox break -->
    <!-- Layout in landscape for smartphone needs this conatainer.
    For everything else meaningless -->
    <div id="HilfscontainerLandscape">
        <div id="CurrentMove" class="gameText regularText">
            <span id="GameLastMove"></span>
            <span id="GameLastComment"></span>
        </div>
    </div> <!-- End HilfscontainerLandscape -->
    <break></break> <!-- To make flexbox break -->
    <div id="GameText" class="gameText regularText"></div> <!-- populated by pgn4web.js -->
    <break></break> <!-- To make flexbox break -->
    <a  download href="{{ url_for('static', filename='game_viewer_pgns/{}'.format(game_filename)) }}"
        class="button"
        id="DownloadPGN">
        <i class="material-icons">archive</i>Download PGN
    </a>
{% endblock %}
