{% extends "layout.html" %}


{% block css_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pgn_upload.css') }}">
{% endblock %}


<!-- submenu points for "noteworthy games" is generated dynamically in routes.py. It creates a menu point -->
<!-- for every pgn found in /static/game_viewer_pgns -->
{% block game_navigation %}
    <ul class="submenu">
        {% for category in game_nav %}
        <li class="menuItem">
            <a  href="#"
                class="button navButton">{{ category[0] }}</a>
            <ul class="subsubmenu">
                {% for game in category[1] %}
                <li class="menuItem">
                    <a class="button navButton"
                       href="{{ url_for('game_viewer', id=game[1]) }}">{{ game[0] }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block content %}
    <div id="Instruction" class="regularText">
        {% if is_for_ppTool %}
            <h2>PGN Pretty Print Tool</h2>
            <div id="TextAndImage">
                <p class="regularText">This tool formats annotated chess games and provides
                formatting options. You can select the moves in a game after which the position is to be printed.<br>
                <!-- Put somewhere else -->
                <a href="https://github.com/V-Mann-Nick/pgn-pretty-print" target="_blank">Implementation details</a>.<br>
                <u>Limitations:</u> the tool can only handle pgn-files with one game.
                <strong><u>First step: provide a pgn via the text field or the upload below.</u></strong></p>
                <figure>
                    <figcaption><h3><u>Example output</u></h3></figcaption>
                    <img src="{{ url_for('static', filename='images/ppp_preview/ppp_preview.png') }}" alt="pretty print preview">
                </figure>
            </div>
        {% else %}
            <h2>Paste or upload a pgn-file</h2>
        {% endif %}
    </div>
    <form id="PgnUpload" action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {{ form.pgn_text }}
        {{ form.upload }}
        {% if error %}
        <p id="UploadError" class="regularText">Provide pgn as text <u>or</u> file!</p>
        {% endif %}
        <p id="submit">{{ form.submit(class_="button") }}</p>
    </form>
{% endblock %}
