{% extends "layout.html" %}


{% block css_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pgn_upload.css') }}">
{% endblock %}


<!-- submenu points for "noteworthy games" is generated dynamically in routes.py. It creates a menu point -->
<!-- for every pgn found in /static/game_viewer_pgns -->
{% block game_navigation %}
    <ul class="submenu">
        {% for folder in game_nav %}
        <li class="menuItem">
            <a  href=""
                class="button navButton">{{ folder[0] }}</a>
            <ul class="subsubmenu">
                {% for game in folder[1] %}
                <li class="menuItem">
                    <a class="button navButton"
                       href="{{ url_for('game_viewer', folder=folder[0], game_name=game[0]) }}">{{ game[1] }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


{% block content %}
    <p id="Instruction" class="regularText">Instruction needed</p>
    <form id="PgnUpload" action="" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        {{ form.upload }}
        <p id="submit">{{ form.submit(class_="button") }}</p>
    </form>
{% endblock %}
