{% extends "layout.html" %}


{% block css_imports %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/puzzler.css') }}">
{% endblock %}


{% block js_imports %}
    <script src="{{ url_for('static', filename='js/pgn4web/pgn4web.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configPieceImg.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configGameViewer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/configPuzzler.js') }}"></script>
{% endblock %}


<!-- SetPgnUrl() is a function from pgn4web.js to serve pgn file for plugin -->
{% block set_pgn_url %}
    <script>SetPgnUrl("{{ url_for('static', filename='tactics/tactics.pgn') }}")</script>
{% endblock %}


<!-- submenu points for "noteworthy games" is generated dynamically in routes.py. It creates a menu point -->
<!-- for every pgn found in /static/game_viewer_pgns -->
{% block game_navigation %}
    <ul class="submenu">
        {% for folder in game_nav %}
        <li class="menuItem">
            <a  href=""
                class="button navButton">{{ folder[0] }}</a>
            <ul class="subsubmenu">
                {% for game in folder[1] %}
                <li class="menuItem">
                    <a class="button navButton"
                       href="{{ url_for('game_viewer', folder=folder[0], game_name=game[0]) }}">{{ game[1] }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
{% endblock %}


<!-- is put into <main></main> -->
{% block content %}
    <div id="BoardAndPuzzlerButtons">
        <div id="GameBoard"></div> <!-- populated by pgn4web.js -->
        <div class="boardButtons">
            <button     type="button"
                        onClick="moveBack();"
                        class="regularText">
                ZUR&Uuml;CK
            </button>
            <button     type="button"
                        onClick="javascript: showSolution();"
                        class="regularText">
                L&Ouml;SUNG
            </button>
            <button     type="button"
                        onClick="javascript: nextPuzzle();"
                        class="regularText">
                N&Auml;CHSTES
            </button>
        </div> <!-- End boardButtons -->
    </div> <!-- End BoardAndPuzzlerButtons -->
    <div id="TextAndToMoveColor">
        <p id="ToMoveColor" class="white regularText"></p>
        <script>setToMoveColor();</script>
        <div id="TextAndResult" class="gameText regularText">
            <span id="GameText"></span> <!-- populated by pgn4web.js -->
            <span id="GameResult"></span> <!-- populated by pgn4web.js -->
        </div>
    </div> <!-- End TextAndToMoveColor -->
{% endblock %}
