/*********************************************************/
/*----THIS DOCUMENT CONTAINS STYLES FOR index.html-------*/
/*********************************************************/

main {
    display: flex;
}

#pppPreview, #GamePreviews {
    width: 50%;
}

#pppPreview, #pppPreview figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pppPreview p {
    text-align: center;
}

#pppPreview figure figcaption {
    max-height: 20%;
}

#pppPreview figure img {
    max-height: 80%;
    max-width: 95%;
}

#pppPreview .button {
    width: 80%
}

#GamePreviews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gamePreview {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playerPictures {
    display: flex;
}

.gamePreview h4 {
    padding-bottom: 10px;
    text-align: center;
}

.PWhite, .PBlack {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    justify-content: center;
}

.PWhite img, .PBlack img {
    max-height: 80%;
    max-width: 100%;
}

.PWhite figcaption, .PBlack figcaption {
    height 20%;
}

.gamePreview .button {
    padding: 0;
    width: 100%;
}
