/*********************************************************/
/*-THIS DOCUMENT CONTAINS STYLES FOR THE CHESS PRINT TOOL*/
/*********************************************************/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#PgnUpload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

