/*********************************************************/
/*----THIS DOCUMENT CONTAINS STYLES FOR THE PUZZLER------*/
/*********************************************************/

main {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/**********************************************/
/*---------BOARD AND PUZZLER BUTTONS----------*/
/**********************************************/

/**************************************/
/*-----------CHESS BOARD--------------*/
/**************************************/

#GameBoard {
    height: 50vw;
    max-height: 550px;
    max-width: 550px;
    width: 50vw;
}

/**************************************/
/*--------------BUTTONS---------------*/
/**************************************/

#BoardAndPuzzlerButtons>.boardButtons {
    grid-template-columns: auto auto auto;
}

/**********************************************/
/*---------TEXT AND TO MOVE COLOR-------------*/
/**********************************************/

#TextAndToMoveColor {
    flex-basis: 35%;
    text-align: center;
}

/**************************************/
/*----------TO MOVE COLOR-------------*/
/**************************************/

#ToMoveColor {
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.5em;
}

#ToMoveColor.hidden {
    display: none;
}

#ToMoveColor.white {
    background-color: white;
    border-color: black;
    color: black;
}

#ToMoveColor.black {
    background-color: black;
    border-color: white;
    color: white;
}

/**************************************/
/*---------TEXT AND RESULT------------*/
/**************************************/

#TextAndResult {
    display: none;
    max-height: 20vw;
    text-align: center;
}

#TextAndResult.visible {
    display: inline-block;
}
