@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }

    /**********************************************/
    /*---------BOARD AND PUZZLER BUTTONS----------*/
    /**********************************************/

    /**************************************/
    /*-----------CHESS BOARD--------------*/
    /**************************************/

    #GameBoard {
        height: 90vw;
        width: 90vw;
    }

    /**********************************************/
    /*---------TEXT AND TO MOVE COLOR-------------*/
    /**********************************************/

    /**************************************/
    /*----------TO MOVE COLOR-------------*/
    /**************************************/

    /**************************************/
    /*---------TEXT AND RESULT------------*/
    /**************************************/

}


/* smartphones in landscape */
@media only screen
and (max-height: 480px)
and (orientation: landscape) {

    /**********************************************/
    /*---------BOARD AND PUZZLER BUTTONS----------*/
    /**********************************************/

    /**************************************/
    /*-----------CHESS BOARD--------------*/
    /**************************************/

    #GameBoard {
        height: 70vh;
        width: 70vh;
    }

    /**********************************************/
    /*---------TEXT AND TO MOVE COLOR-------------*/
    /**********************************************/

    /**************************************/
    /*----------TO MOVE COLOR-------------*/
    /**************************************/

    /**************************************/
    /*---------TEXT AND RESULT------------*/
    /**************************************/

}
